<!-- ./app/community/templates/generic.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>{% block title %}MyBirds{% endblock %}</title>
  <link href="/static/plugins/css/bootstrap.min.css" type="text/css" media="all" rel="stylesheet">
  <style>
    body {
      margin: 0;
      height: 100vh;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      background-color: rgba(255, 255, 255, 0.904);
      list-style-type: none;
      background-image: url("https://i.ibb.co/Mcygc3P/14-140907-colorful-parrot-png-photo-parrot-on-a-branch.png");
      background-position: 95% 80%;
      background-attachment: fixed;
      background-repeat: no-repeat;
      z-index: 10;
    }

    div {
      overflow: visible;
    }
    img {
      box-shadow: 20px 20px rgba(124, 136, 18, 0.603);
      align-self: center;
    }
    a {
      text-decoration: none !important;
    }
    a:hover {
      color:rgba(124, 136, 18, 0.603);
    }

    .main-container4 {
      margin-top: 3em
    }

    .add-save-button4 {
      position: absolute;
      width: 100px;
      background-color: rgba(124, 136, 18, 0.603);
      border: none;
      height: 40px;
      font-size: 15px;
      text-decoration: none;
      cursor: pointer;
      color: white;
      border-radius: 10px;
      text-transform: uppercase;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      text-align: center;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 3px;
      opacity: 0.85;
      top: 20px;
      left: 15%;
    }

    .add-save-button4:hover {
      color: rgba(44, 41, 41, 0.945);
      opacity: 0.95;
    }

    .add-save-button4.format {
      left: 0%;
    }

    .add-save-button4:active {
      background-color: rgba(136, 99, 18, 0.603);
      color: rgba(44, 41, 41, 0.945);
      opacity: 0.95;
    }

    .content-container4 {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 50px 0 100px 0;
      margin-bottom: 100px;
      overflow: hidden;
    }

    .parrot-list-container4 {
      width: 70%;
      margin-top: 100px;
      font-weight: 700;
      font-size: 2vw;
    }

    .list-group-item4 {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 0 10px 0 10px;
      height: 60px;
      text-decoration: none;
      list-style-type: none;
      border-bottom: grey;
      border-width: 1px;
      border-bottom-style: solid;
      transition: all 0.2s ease-in-out;
    }

    .list-group-item4:hover {
      transform: scale(1.1);
    }

    .parrot-list-add-button-container4 {
      padding: 25px 0 25px 0;
      position: relative;
      width: 100%;
      height: 70px;
    }

    .detail-link4 {
      text-decoration: none;
      color: rgb(51, 51, 51);
    }

    .detail-link4:hover {
      color: rgba(124, 136, 18, 0.603);
    }

    .detail-title-item4 {
      font-size: 50px;
      font-weight: 700;
    }

    .detail-description-item4 {
      width: 60%;
    }

    .save-edit-field4 {
      margin: 10px 10px 10px 0;
      position: relative;
      display: flex;
      flex-direction: row;
    }

    .martor-preview4 {
      overflow: visible;
      padding-bottom: 100px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-width: 100%;
    }

    .add-save-button4.detail-edit4 {
      left: 0;
      display: flex;
    }

    .add-save-button4.detail-delete4 {
      left: 120px;
      display: flex;
    }

    .save-edit-field4 {
      margin: 0 0 0 0;
      position: relative;
      height: 50px;
      width: 60%;
      overflow: visible;
    }

    .navbar4 {
      position: fixed;
      padding: 10px;
      display: flex;
      background-color: rgba(255, 255, 255, 0.904);
      width: 100%;
      height: 70px;
      margin: 0;
      z-index: 100;
      text-decoration: none;
    }

    .navbar-nav4 {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }

    .container-fluid4 {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 800px;
    }

    .nav-link4 {
      margin: 0 10px 0 10px;
      color: black;
    }


    .nav-link4.disabled {
      color: grey;
      pointer-events: none;
    }

    .nav-link4.hover {
      margin: 0 10px 0 10px;
      color: rgba(124, 136, 18, 0.603);
    }

    .navbar-brand4 {
      font-size: 30px;
      color: rgba(124, 136, 18, 0.603);
      margin-right: 30px;
    }

    .navbar-nav4 {
      display: flex;
    }

    .title-parrot-main4 {
      font-size: 90px;
    }

    .form-group {
      min-width: 60%;
    }

    .form {
      width: 70%;
    }

    .text-success.mainpaige {
      color: black !important;
      font-size: 40px;
    }

    
  </style>
  {% block css %}{% endblock %}
</head>

<body>
  <nav class="navbar4">
    <div class="container-fluid4">
      <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
      <div class="navbar-nav4" id="navbarNavAltMarkup">
        <a class="navbar-brand4 disabled" href="{% url 'index' %}" alt="WIP">MyBirds</a>
        <div class="navbar-nav-links4">
          
          <a class="nav-link4" aria-current="page" href="{% url 'articles' %}">Community</a>
          <a class="nav-link4" aria-disabled="true" href="{% url 'parrots_wiki' %}">Wiki</a>
          <a class="nav-link4 disabled" aria-disabled="true" href="#">About Us</a>

          {% if user.is_authenticated %}
          <a class="nav-link4" aria-current="page" href="{% url 'logout' %}">Log Out</a>
          {% else %}
          <a class="nav-link4" aria-current="page" href="{% url 'login' %}">Log In</a>
          <a class="nav-link4" aria-current="page" href="{% url 'registration' %}">REGISTER</a>
          {% endif %}

          {% if user.is_staff %}
          <a class="nav-link4" aria-current="page" href="{% url 'admin:index' %}">_SITE_ADMIN</a>
          {% endif %}

        </div>
      </div>
    </div>
  </nav>


  <div class="content-container4">
    {% block site_content %}
    {% endblock %}
    {% block body %}
        {% block content %}
        {% endblock content %}
    {% endblock body %}

    {% block extra_body %}
    {% endblock extra_body %}
  </div>

  <script type="text/javascript" src="{% static 'plugins/js/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/bootstrap.min.js' %}"></script>
  {% block js %}{% endblock %}

</body>

</html>