{# <!-- ./app/community/templates/wiki/parrot_confirm_delete.html --> #}
{% extends "generic.html" %}

{% block title %}
  You Sure?
{% endblock %}

{% block site_content %}
  <div align="center" style="margin-top: 80px" id="greetings">
    
    <form method="post">{% csrf_token %}
        <p>Are you sure you want to delete "{{ object.title }}"?</p>
        <input type="submit" value="Confirm" class="btn btn-primary" role="button">
    </form>

  </div>
{% endblock site_content %}
