{# <!-- ./app/community/templates/wiki/parrot_form.html --> #}
{% extends "generic.html" %}

{% block title %}
  New Parrot
{% endblock %}

{% load static %}

{% block css %}
  <link href="{% static 'plugins/css/ace.min.css' %}" type="text/css" media="all" rel="stylesheet" />
  <link href="{% static 'plugins/css/resizable.min.css' %}" type="text/css" media="all" rel="stylesheet" />
  <link href="{% static 'martor/css/martor.bootstrap.min.css' %}" type="text/css" media="all" rel="stylesheet" />
{% endblock %}

{% block site_content %}
<div style='width: 100%; margin-top: 50px; display: flex; align-items: center; justify-content: center;'>
  <form class="form" method="post">{% csrf_token %}
    <div class="form">
      {{ form.title }}
    </div>
    <div class="form-group">
      {{ form.text }}
    </div>
    <div class="save-edit-field4" id="edit">
      <button class="add-save-button4 format">
        <i class="save icon"></i> сохранить
      </button>
    </div>
    <!-- <div class="form-group">
      
    </div> -->
  </form>
</div>
{% endblock %}

{% block js %}
  <script type="text/javascript" src="{% static 'plugins/js/ace.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/mode-markdown.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/ext-language_tools.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/theme-github.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/typo.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/spellcheck.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/highlight.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/resizable.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/emojis.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'martor/js/martor.bootstrap.min.js' %}"></script>
  <script>
    $('form [name="title"]').attr({
      'class': 'form-control',
      'placeholder': 'Post Title'
    });
  </script>

{% endblock %}
