<!-- ./app/community/templates/wiki/parrot_list.html --> 
{% extends "generic.html" %}

{% block title %}
Parrots
{% endblock %}

{% block site_content %}
<div class="parrot-list-container4" id="greetings">
  <h1 class="detail-title-item4 main">WIKI</h1>
  {% if not object_list.exists %}
  <p class="text-danger fs-2">Попугаев нет! :(</p>
  {% endif %}

  {% for parrot in object_list %}

  <a href="{% url 'parrots_wiki_detail' parrot.pk %}" class="detail-link4">
    <li class="list-group-item4">
      {{ parrot.title }}
    </li>
  </a>
  {% endfor %}
</div>

{% if request.user|has_group:"Moderator" or request.user.is_superuser %}
<div class="parrot-list-add-button-container4" id="edit">
  <a href="{% url 'parrots_wiki_create' %}" class="add-save-button4" role="button">ДОБАВИТЬ</a>
</div>
{% endif %}
{% endblock site_content %}