{# <!-- ./app/community/templates/wiki/parrot_detail.html --> #}
{% extends "generic.html" %}
{% load static %}
{% load martortags %}

{% block title %}
  Parrot
{% endblock %}

{% block site_content %}
  <div style="margin-top: 80px" id="greetings" class="martor-preview4">

      <li class="detail-title-item4">{{ object.title }}</li>
      <li class="detail-description-item4"> {{ object.text|safe_markdown }} </li>
      {% if request.user.is_superuser or request.user|has_group:"Moderator" %}
      <div class="save-edit-field4" id="edit">
        <a href="{% url 'parrots_wiki_update' parrot.pk %}" class="add-save-button4 detail-edit4" role="button">изменить</a>
        <a href="{% url 'parrots_wiki_delete' parrot.pk %}" class="add-save-button4 detail-delete4" role="button">удалить</a>
      </div>
    {% endif %}

  </div>
{% endblock site_content %}



{% block js %}
  <script type="text/javascript" src="{% static 'plugins/js/highlight.min.js' %}"></script>
  <script>
    $('.martor-preview pre').each(function(i, block){
        hljs.highlightBlock(block);
    });
  </script>
{% endblock %}
