{# <!-- ./app/community/templates/community/user_form.html --> #}
{% extends 'generic.html' %}

{% block site_content %}
<h2>Register</h2>

<form method="post">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Register">
</form>

<a href="{% url 'login' %}">Back to login</a>
{% endblock %}
