{# <!-- ./app/community/templates/registration/login.html --> #}
{% extends 'generic.html' %}

{% block site_content %}
<h2>Login</h2>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Login">
</form>

<a href="{% url 'index' %}">back to index page</a>
{% endblock %}
