{# <!-- ./app/community/templates/community/article_detail.html --> #}
{% extends "generic.html" %}
{% load static %}
{% load martortags %}

{% block css %}
  <link href="{% static 'plugins/css/ace.min.css' %}" type="text/css" media="all" rel="stylesheet" />
  <link href="{% static 'martor/css/martor.bootstrap.min.css' %}" type="text/css" media="all" rel="stylesheet" />
{% endblock %}

{% block title %}
  Article
{% endblock %}

{% block site_content %}
  <div style="margin-top: 80px" id="greetings" class="martor-preview4">
      <img alt="Qries" src="{{ avatar_url }}">
      <li class="detail-title-item4"> {{ object.title }} </li>
      <li class="detail-description-item4"> {{ object.text|safe_markdown }} </li>
      <li class="detail-description-item4"> Author email: {{ object.author.email }} </li>

    {% if request.user.email == object.author.email or request.user.is_superuser or request.user|has_group:"Moderator" %}
      <div class="save-edit-field4" id="edit">
        <a href="{% url 'article_update' article.pk %}" class="add-save-button4 detail-edit4" role="button">изменить</a>
        <a href="{% url 'article_delete' article.pk %}" class="add-save-button4 detail-delete4" role="button">удалить</a>
      </div>
    {% endif %}

  </div>
{% endblock site_content %}

{% block js %}
  <script type="text/javascript" src="{% static 'plugins/js/highlight.min.js' %}"></script>
  <script>
    $('.martor-preview pre').each(function(i, block){
        hljs.highlightBlock(block);
    });
  </script>
{% endblock %}
