{# <!-- ./app/community/templates/community/article_list.html --> #}
{% extends "generic.html" %}

{% block title %}
  Articles
{% endblock %}

{% block site_content %}
  <div class="parrot-list-container4" id="greetings">
    <h1 class="detail-title-item4 main">Сообщество</h1>
    {% if not object_list.exists %}
      <p class="text-danger fs-2">There are no articles yet.</p>     
    {% endif %}

    {% for article in object_list %}
      <a href="{% url 'article_detail' article.pk %}" class="detail-link4">
        <li class="list-group-item4">
          {{ article.title }}
        </li>
      </a>
    {% endfor %}
  </div>

  {% if request.user|has_group:"Author" or request.user.is_superuser %}
    <div class="parrot-list-add-button-container4" id="edit">
      <a href="{% url 'article_create' %}" class="add-save-button4" role="button">добавить</a>
    </div>
  {% endif %}
{% endblock site_content %}
