{# <!-- ./app/community/templates/community/index.html --> #}
{% extends "generic.html" %}

{% block title %}
  Index
{% endblock %}

{% block site_content %}
  <div align="center" style="margin-top: 80px" id="greetings">
    <p class="text-success mainpaige">Привет, {{ user.email|default:'Странник' }}! <br/> Это блог-энциклопедия о попугаях!  <br/> Demo CI/CD/CD </p>
  </div>
{% endblock site_content %}
